@media only screen and (max-width: 1023px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .banner_logo{
        height: auto;
    }
}
@media only screen and (max-width: 767px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .arrow{
        margin-left: 70px;
    }
    .show{
        display: block;
        width: auto;
        position: absolute;
    }
}