@import "~bulma/sass/utilities/initial-variables";
$size-h1: 24px;

@import "style.css";

@import "mediaquery.css";

@import "~bulma/bulma";

h1 {
  display: block;
  font-size: 3em;
  line-height: 1.05em;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1.125em;
  line-height: 1.22em;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: .83em;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: .67em;
  font-weight: bold;
}