
.masonry {
    column-count: 3;
    display: block;
}
.char_list{
    display: table;
}
.brick {
    margin: 0 9px 0 13px;
    display: inline-block;
}

.banner_circle{
    display: inline-table;
    margin: 0 10px 0 10px;
}

.banner_logo{
    width: 300px;
    height: 300px;
    -webkit-border-radius: 156px;
    -moz-border-radius: 156px;
    border-radius: 156px;
    cursor: pointer;
}
.arrow{
    width: 0;
    margin-left: 50%;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffffff;
    box-shadow: 0 0 black;
}

.arrow_ul{
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.arrow_ul > li{
    display: inline-block;
    padding-right: 5px;
    color: #000;
    padding-left: 5px;
}

.bar{
    color: #000000;
}
.hidden{
    visibility: hidden;
}
.show{
    display: block;
}
.banner_list{
    height: 100px;
}
.banner_container {
    position: relative;
    width: 50%;
}

.banner_image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.banner_container:hover .banner_image {
    opacity: 0.3;
}

.banner_container:hover .middle {
    opacity: 1;
}

.banner_text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    width:100%;
}

/*loader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.bd-patreon{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #052d49;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}
.bd-patreon strong {
    color: currentColor;
}
.bd-patreon-text{
    font-size: 0.875rem;
    line-height: 1.25;
}

/*modal css*/
.modal {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    display: block;
}

.char_mod_img {
    height: 150px;
}

.modal_title{
    color:#0084ff;
}
.content{
    color: #ffffff;
}
.charBanner{
    position: fixed;
}
.charDet{
    background-color: #ffffff;
    height: 100%;
}
